






body {
	
	
	
	background-image: url("../images/nav_bar-1.jpg");
	
	background-size: cover;
	font: normal 70% Georgia, Palatino, Times, Times New Roman, serif; 
	color: #666;
	
}
#home_page{
	margin:0px auto;
	text-align:center;
	
}


#content{
	top:100px;
	float:right;
	width:85%
}
#nav_bar{
	float:left;
	top:100px;
	width:15%;
	font-size:16px;
	background-image: url("../images/nav_bar-2.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
a {
  color: #00B7FF;
}

#list_item{
	float:right;
	line-height:5px;
	
}



